 body {
     background-image: url(../images/social-share-fb.jpg)
 }

 header {
     padding-bottom: 20px;
     font-size: 30px;
     line-height: 49px;
     border-bottom: 3px solid gold;
     ;
     background-color: black;
     text-align: center;
     color: gold;
 }

 h2 {
     text-align: center;
     padding: 20px;
     color: white;
     font-size: 30px;
 }

 img {
     width: 100px;
     height: 200px;
 }
 .AhrimIMG {
     position: relative;
     float: left;
     margin: 10px, 10px, 10px, 10px;
     width: 100px;
     Height: 300px;
     left: 10%;
 }
 .DharokIMG {
    position: relative;
    float: left;
    margin: 10px, 10px, 10px, 10px;
    width: 100px;
    Height: 300px;
    left: 15%;
}
.GuthanIMG {
    position: relative;
    float: left;
    margin: 10px, 10px, 10px, 10px;
    width: 100px;
    Height: 300px;
    left: 20%;
}
.KarilIMG {
    position: relative;
    float: left;
    margin: 10px, 10px, 10px, 10px;
    width: 100px;
    Height: 300px;
    left: 25%;
}
.ToragIMG {
    position: relative;
    float: left;
    margin: 10px, 10px, 10px, 10px;
    width: 100px;
    Height: 300px;
    left: 30%;
}
.VeracIMG {
    position: relative;
    float: left;
    margin: 10px, 10px, 10px, 10px;
    width: 100px;
    Height: 300px;
    left: 35%;
}

 .arena {
     display: block;
     position: absolute;
     top: 70%;
     width: 100%;
     height: 80%;
     margin: 0 auto;
     align-items: left;
     text-align: left;
     background-image: url(../images/Duel_Arena.png);
 }

 .btn-danger {
     position: relative;
     display: block;
     height: 7%;
     width: 10%;
     background-color: red;
     color: white;
 }
 
 p {
    color: white;
    font-size: 30px;
 }

 h1 {
     font-size: 30px;
     font-weight: bold;
     color:white;
     text-align: left;
 }

 h3 {
     color: red;
     font-size: 30px;
 }

 h4 {
    color: red;
    font-size: 30px;

 }

 .verac {
     position: relative;
     float: left;
     margin-right: 55px;
 }
 .guthan {
     position: relative;
    float: left;
    margin-right: 55px;
}
.torag {
    position: relative;
    float: left;
    margin-right: 55px;
}
.dharok {
    position: relative;
    float: left;
    margin-right: 55px;
}
.ahrim {
    position: relative;
    float: left;
    margin-right: 55px;
}
.karil {
    position: relative;
    float: left;
    margin-right: 55px;
}

#enemies {
    position: relative;
    margin-right: 50px;
    width: 85%;
    height: 300px;
}

#character {
    position: relative;
    width: 100%;
    height: 300px;
}